@import "../../node_modules/mathquill/build/mathquill.css";
:root {
  --textColor: #24292e;
  --bgColor: #ffffff;
  --borderColor: #767676;
  --toolbarBgColor: #fafbfc;
  --toolbarBorderColor: #d1d9e0;
  --toolbarBoxShadow: rgba(27, 31, 35, 0.04);
  --toolbarBoxShadowSecond: rgba(255, 255, 255, 0.25);
  --toolbarHoverBgColor: #f3f4f6;
  --toolbarActiveBgColor: #edeff2;
}
@media (prefers-color-scheme: dark) {
  :root {
    --textColor: #f0f6fc;
    --bgColor: #0d1117;
    --borderColor: #767676;
    --toolbarBgColor: #212830;
    --toolbarBorderColor: #3d444d;
    --toolbarBoxShadow: rgba(0, 0, 0, 0);
    --toolbarBoxShadowSecond: rgba(0, 0, 0, 0);
    --toolbarHoverBgColor: #262c36;
    --toolbarActiveBgColor: #2a313c;
  }
}
.mq-line-break {
  display: block;
  height: 0.3em;
  content: "";
}

@media print {
  .printDisable {
    display: none !important;
  }
  .mq-editable-field,
  .mq-math-mode .mq-editable-field {
    border: 0 !important;
  }
}
body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  padding: 0.3125em;
  margin: 0;
  background-color: var(--bgColor);
}
h2 {
  margin-block-start: 0.3125em;
  margin-block-end: 0.3125em;
  color: var(--textColor);
}
.editor,
.toolbar,
.mathFieldDiv {
  padding-bottom: 0.3125em;
}
.toolbarButton {
  appearance: none;
  background-color: var(--toolbarBgColor);
  border: 1px solid var(--toolbarBorderColor);
  border-radius: 0.375em;
  box-shadow:
    var(--toolbarBoxShadow) 0 0.0625em 0,
    var(--toolbarBoxShadowSecond) 0 0.0625em 0 inset;
  box-sizing: border-box;
  color: var(--textColor);
  cursor: pointer;
  display: inline-block;
  font-family:
    -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1em;
  font-weight: 500;
  line-height: 1.25em;
  list-style: none;
  padding: 0.375em 1em;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.toolbarButton:hover {
  background-color: var(--toolbarHoverBgColor);
  text-decoration: none;
  transition-duration: 0.1s;
}

.toolbarButton:active {
  background-color: var(--toolbarActiveBgColor);
  transition: none 0s;
}

.toolbarButton:focus {
  outline: 0.0625em transparent;
}

.toolbarButton:before {
  display: none;
}

.toolbarButton::-webkit-details-marker {
  display: none;
}
.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125em;
}

#math-field,
#latex-output {
  border-radius: 0.375em;
  field-sizing: content;
  box-sizing: border-box;
  color: var(--textColor);
  background-color: var(--bgColor);
  border-color: var(--borderColor);
  cursor: pointer;
}
#latex-output:focus-visible {
  outline: 1px solid #0969da;
  border-color: #0969da;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
